.radio {
    appearance: none; /* Скрываем стандартный вид */
    width: 16px; /* Задаем фиксированную ширину */
    height: 16px; /* Задаем фиксированную высоту */
    border: 2px solid #0de354; /* Граница для радиокнопки */
    border-radius: 50%; /* Радиус для круга */
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.radio:checked {
    background-color: #0de354; /* Цвет фона при выборе */
}

.label {
    display: inline-flex;
    align-items: center; /* Выравнивание текста и радио по центру */
    margin-right: 8px; /* Расстояние между радио и текстом */
    padding: 4px; /* Добавляем немного отступа */
}

.radio:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px; /* Размер внутреннего круга */
    height: 8px;
    background-color: white; /* Цвет внутреннего круга */
    border-radius: 50%;
    transform: translate(-50%, -50%); /* Центрирование внутреннего круга */
}
/*
const onChangeOption = (newValue:number) => {
                                          setValue(Number(newValue)); // Убедитесь, что значение преобразовано в число
                                          };*/
