.button {
    background-color: #7e8bbd;
    color: #61dafb;
}
.button:hover{
    background-color: #6ab476;
}

.disabled {
}

.secondary {
}

.default {
}

.red {
}

.default:hover {
}

.red:hover {
}

.secondary:hover {

}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
